body {
	background-color: #FFCE4C;
}

#logincontainer {
	border: 2px solid;
	width: 300px;
	height: 450px;
	margin-left: auto;
	margin-right:auto;
	margin-top:30px;
	background-color: #4F5AC7;
}

#loginBox {
	width: 200px;
	height: 200px;
	text-align: center;
	margin:auto;
}

#registerBox {
	width: 200px;
	height: 200px;
	text-align: center;
	margin: auto;
}
